@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital@1&family=Yanone+Kaffeesatz&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}


body {
    width: 100%;
    font-family: Yanone Kaffeesatz, Helvetica, sans-serif;
    color: #515d5f;
}

h2 {
    color: #628131;
    margin-bottom: 20px;
    font-family: Barlow Semi Condensed, Helvetica, sans-serif;
    font-size: 225%;
}

a {
    text-decoration: none;
}


/*header and logo*/

header {
   background-color: bisque;
}

#logo {
    margin: 20px;
}

#logo h1 {
    letter-spacing: 2.5px;
    font-size: 400%;
    color: #f19f55;
}

#logo p {
    color: #628131;
    font-family: Barlow Semi Condensed, Helvetica, sans-serif;
    font-size: 125%;
    margin-top: -20px;
    letter-spacing: 5px;
}

/* navigation bar */

#menu {
    font-size: 150%;
    letter-spacing: 2px;
    color: #628131;
    margin-top: 36px;
    line-height: 70px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
}

#menu a {
    color: inherit;
}

#menu a:hover {
    border-bottom: 2px solid #f19f55;
}

.active {
    border-bottom: 2px solid #f19f55;
}

/*hero image*/

#hero-image {
    height: 600px;
    width: 100%;
    position: relative;
    object-fit: cover;
    border-color: #f19f55;
    border-style: solid;
}

/*introduction to wwoofing*/
.center {
    margin: 20px;
    width: 90%;
    padding: 10px;
    /*text*/
    text-align: center;
}

.center p {
    text-align: center;
    font-size: 1.2rem;
    padding: 20px;
}