@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital@1&family=Yanone+Kaffeesatz&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}


body {
    width: 100%;
    font-family: Yanone Kaffeesatz, Helvetica, sans-serif;
    color: #515d5f;
    background-color: rgba(241, 241, 220, 0.5);
}

h2 {
    color: #628131;
    margin-bottom: 20px;
    font-family: Barlow Semi Condensed, Helvetica, sans-serif;
    font-size: 225%;
}

a {
    text-decoration: none;
}


/*header and logo*/

header {
    background-color: #ffe4c4d4;
}

#logo {
    margin: 20px;
}

#logo h1 {
    letter-spacing: 2.5px;
    font-size: 400%;
    color: #f17505e0;
}

#logo p {
    color: #628131;
    font-family: Barlow Semi Condensed, Helvetica, sans-serif;
    font-size: 125%;
    margin-top: -20px;
    letter-spacing: 5px;
}

/* navigation bar */

#menu {
    font-size: 150%;
    letter-spacing: 2px;
    color: #628131;
    margin-top: 36px;
    line-height: 70px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
}

#menu a {
    color: inherit;
}

#menu a:hover {
    border-bottom: 2px solid #f17505e0;
}

.active {
    border-bottom: 2px solid #f17505e0;
}

/*hero image*/

#hero-image {
    height: 600px;
    width: 100%;
    margin-top: 20px;
    position: relative;
    object-fit: cover;
    border-color: #f17505e0;
    border-style: solid;
}

/*introduction to wwoofing*/
.center {
    margin: 20px;
    padding: 10px;
    /*text*/
    text-align: center;
}

.center p {
    text-align: center;
    font-size: 1.2rem;
}

/*about us images*/

.img-container {
    width: 350px;
    height: 350px;
    margin-bottom: 20px;
    object-fit: cover;
    /*borders*/
    border-style: solid;
    border-color: #f17505e0;
    border-width: 2px;
    border-radius: 5%;
}

/*about us section*/

#about-us h1 {
    color: #f17505e0;
    font-size: 3rem;
    font-family: Barlow Semi Condensed, Helvetica, sans-serif;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 50px;
}

#about-us p {
    margin: 20px;
}


/*gallery page*/

#gallery-link {
    font-size: 3rem;
    font-family: Barlow Semi Condensed, Helvetica, sans-serif;
    margin: 20px;
}

/*footer*/

footer {
    margin-top: -20px;
    background-color: #ffe4c4d4;
}

.social-networks i {
    font-size: 250%;
    margin: 30px;
    color: #628131;
}

.social-networks i:hover {
    color: #f17505e0;
}

/*get started form*/

.form-section {
    background-image: url(/images/get-started-hero.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.get-started-form,
.location,
.contact-us,
.faqs {
    background-color: rgba(255, 228, 196, 0.5);
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
}

.form-row {
    margin: 5px;
}

.contact-us p, .location p, .faqs p {
    font-size: 1.2rem;
    color: #0009;
}

/*submit*/

input[type=submit] {
    background-color: white;
    border: 2px solid #628131;
}

input[type=submit]:hover {
    background-color: #f19e55a8;
}

/*submit-received*/

.form-submitted {
    min-height: 500px;
    padding-top: 120px;
    /*img*/
    background-image: url(/images/ragazza-mriachella.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.submitted-message {
    border-radius: 10px;
    font-size: 250%;
    background-color: rgba(255, 228, 196, 0.5);
}


.submitted-message p {
    color: #0009;

}

